body {
	max-width: 1000px;
	font-family: 'Open Sans', sans-serif;
	
}

h2 {
	color: red;
}

#landing {
	text-align: center;
}

section {
	margin-top: 50px;
	padding-left: 20px;
}

#blurb > a {
	margin-left: 50px;
	margin-right: 50px;
}

.lead {
	font-size: 1.2em;
	font-weight: lighter;
}

img {
	border-radius: 50%;
}


